/.emacs.d/eshell/
/.emacs.d/ac-comphist.dat
.emacs.d/bookmarks
.emacs.d/packages
.emacs.d/url/
/.emacs.d/.cask/
/.emacs.d/auto-save-list/
/.emacs.d/network-security.data
*~
elpa/
*/anaconda-mode/
emacs/.emacs.d/smex-items
emacs/.emacs.d/.last-package-update-day
emacs/.emacs.d/.org-id-locations
emacs/.emacs.d/.python-environments/

*/.emacs.d/recentf
*/.emacs.d/transient/
*/.emacs.d/init.d/emacs-custom.el

/.emacs.d.old/
/emacs/.emacs.d/ac-comphist.dat
/emacs/.emacs.d/eshell/
/emacs/.emacs.d/flycheck-alex.el
